@import './typography/_colors.scss';
@import './utils/mixin.scss';

.container {
    max-width: 1023px;
    margin: auto;
    margin-top: 31px;
    width: 100%;
    @include mobile {
        margin-top: 20px;
    }
}

.titleContainer {
    background: $red;
    border-radius: 5px;
    padding-left: 18.08px;
    padding-right: 16.08px;
    height: 47px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    @include mobile {
        height: 30px;
        padding-left: 11.51px;
        padding-right: 10.76px;
    }
    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        @include mobile {
            font-size: 13px;
        }
    }
}

.containerDesc {
    &__description {
        padding: 40px 20px;
        @include mobile {
            padding-top: 23.02px;
            padding-bottom: 0;
        }
    }
    &__aboutDesc {
        padding: 36px 18px 19px 18px;
        @include mobile {
            padding: 23.08px 11.51px 52.85px 11.51px;
        }
    }
    &__paragraphe {
        color: $red;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        @include mobile {
            font-size: 12px;
            line-height: 17px;
        }
    }
}

.collapseClose {
    overflow: hidden;
    max-height: 47px;    
    background: $grey;
    border-radius: 5px;
    transition: max-height .5s ease;
    @include mobile {
        max-height: 30px;
    }
}
.collapseOp {
    background: $grey;
    border-radius: 5px;
    max-height: 500px;
    transition: max-height .5s ease;
}

.iconColor :nth-of-type(1) {
    color: $white;
}

  .height {
    height: 289px;
    @include mobile {
        height: max-content;
    }
}