@import './utils/mixin.scss';

.header {
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include mobile {
    height: 111px;
  }
}

.app-layout {
  margin: auto;
  max-width: 1240px;
  width: 100%;
  flex: 1;
}