@import './utils/mixin.scss';

.container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    &__img {
        width: 30px;
        @include mobile {
            width: 15px;
        }
    }
}