@import './typography/_colors.scss';
@import './utils/mixin.scss';

.container {
  display: flex;
  gap: 10px;
  margin: 20px 0 24px 0;
  @include mobile {
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
  }
  &__tags {
    background: $red;
    width: fit-content;
    height: 25px;
    padding: 0 37px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    @include mobile {
      height: 18px;
      min-width: 84px;
      padding: 0 24px;
    }
  }
  &__paragraphe {
    color: $white;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    @include mobile {
      font-size: 10px;
      line-height: 14px;
    }
  }
}