.header {
    height: 223px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.logo {
    border-radius: 25px;
    width: 100%;
    height: inherit;
    object-fit: cover;
    filter: brightness(0.7);
}
.layout {
    margin: auto;
    max-width: 1240px;
    width: 100%;
    flex: 1;
  }