@import './utils/mixin.scss';
@import './typography/colors.scss';

.container {
    background: $grey;
    border-radius: 25px;
    margin: 43px 0 0;
    padding: 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    @include mobile {
        padding: 0;
        background: $white;
        gap: 20px;
        margin: 20px 0 0;

    }
}
.list {
    display: flex;
    align-items: flex-end;
    position: relative;
    @include mobile {
        width: 100%;
    }
}
.img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    @include mobile {
        width: inherit;
        height: auto;
    }
} 
.title {
    position: absolute;
    color: white;
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
}

